.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card img {
  object-fit: cover;
  max-height: 200px;
}

mat-card-actions {
  margin-top: auto;
  padding: 16px;
}